@if (User.Identity.IsAuthenticated)
{
<ul class="navbar-nav">
    @{
        string identityName = @User.Identity.Name;
        var nameClaim = User.Claims.FirstOrDefault(x => x.Type == "name");

        if (nameClaim != null)
        {
            identityName = nameClaim.Value;
        }
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            @identityName
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="SignOut">Sign Out</a></li>
        </ul>
    </li>
</ul>
}
else
{
    <ul class="nav-item">
        <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignOn">Sign In</a></li>
    </ul>
}
