@page
@model ControlAVP.Pages.Devices.ExtronDSC301HDModel
@{
    ViewData["Title"] = "Extron DSC301HD";
}
<h3>@ViewData["Title"]</h3>

<p>Firmware <span class="label label-primary">@Model.Firmware</span></p>

<form method="post">
    @*<div>
        <button type="submit" asp-page-handler="TurnOn" class="btn btn-success btn-md">Turn TV On</button>
    </div>*@
</form>