@page
@model ControlAVP.Pages.Devices.ExtronDSC301HDModel

@{
    ViewData["Title"] = "Extron DSC301HD";
}
<h2></h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            <strong>@ViewData["Title"]</strong>
        </p>
    </div>
    <form method="post">
        <div class="panel-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-3">
                    <table class="table table-sm table-borderless table-condensed">
                        <tr>
                            <td>Firmware</td>
                            <td><span class="label label-primary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                        <tr>
                            <td><button type="submit" asp-page-handler="PixelPerfectAndCentered" class="btn btn-success btn-xs">Pixel Perfect & Centered</button></td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
