@page
@model ControlAVP.Pages.Devices.ExtronMVX44VGAModel
@using ControllableDeviceTypes.ExtronMVX44VGATypes;
@using System.Linq;

@{
    ViewData["Title"] = "Extron MVX44VGA";
}
<h2></h2>

<div class="card">
    <div class="card-header">
        <h6 class="mb-0">@ViewData["Title"]</h6>
    </div>
    <form method="post">
        <div class="card-body pb-0">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="align-middle text-right" width="1%">Matrix</td>
                            <td>
                                <table class="table table-sm">
                                    <tr>
                                        <th></th>
                                        @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                        {
                                            <th class="text-center"><span class="badge badge-secondary">O@((int)outputPort)</span></th>
                                        }
                                    </tr>

                                    @foreach (InputPort inputPort in Enum.GetValues(typeof(InputPort)).OfType<InputPort>().Skip(1))
                                    {
                                        <tr>
                                            <td>
                                                <button type="submit"
                                                        asp-page-handler="TieInputPortToAllOutputPorts"
                                                        asp-route-inputport=@inputPort
                                                        asp-route-tietype=@TieType.AudioVideo
                                                        class="btn border btn-block btn-primary">
                                                    Input @((int)inputPort)
                                                </button>
                                            </td>

                                            @foreach (OutputPort outputPort in Enum.GetValues(typeof(OutputPort)))
                                            {
                                                <td>
                                                    @{var inputPortActual = Model.DeviceInfoCache.TieState.Video[outputPort];}
                                                    <button type="submit"
                                                            asp-page-handler="TieInputPortTOutputPort"
                                                            asp-route-inputport=@inputPort
                                                            asp-route-outputport=@outputPort
                                                            asp-route-tietype=@TieType.AudioVideo
                                                            class="btn border btn-block @((inputPortActual == inputPort) ? "btn-success" : "btn-light")">
                                                        &#8205;
                                                    </button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right">Firmware</td>
                            <td class="align-middle"><span class="badge badge-secondary">@Model.DeviceInfoCache.Firmware</span></td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </form>
</div>
