@page
@model ControlAVP.Pages.Devices.OSSCModel
@using ControllableDeviceTypes.OSSCTypes;

@{
    ViewData["Title"] = "OSSC";
    string defaultButtonCss = "btn-light";
}
<h2></h2>


<form method="post">
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">@ViewData["Title"]</h6>
        </div>
        <div class="card-body">
            @if (Model.DeviceInfoCache.Available)
            {
                <div class="col-sm-6">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="align-middle text-right" width="1%">Load Profile</td>
                            <td>
                                <div class="btn-group">
                                    @for (int i = 0; i < Enum.GetValues(typeof(ProfileName)).Length; ++i)
                                    {
                                        var profileName = (ProfileName)Enum.GetValues(typeof(ProfileName)).GetValue(i);
                                        <button type="submit" asp-page-handler="LoadProfile" asp-route-profilename=@profileName class="btn btn-light border">@i</button>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">AV1</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.AV1RGBS button-label="RGBS" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.AV1RGsB button-label="RGsB" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.AV1YPbPr button-label="YPbPr" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">AV2</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.AV2YPbPr button-label="YPbPr" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.AV2RGsB button-label="RGsB" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">AV3</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.AV3RGBHV button-label="RGBHV" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.AV3RGBS button-label="RGBS" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.AV3RGsB button-label="RGsB" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">Navigation</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.Menu button-label="Menu" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.Back button-label="Back" css-class="btn-danger" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">Picture</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.LineX button-label="Line X" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.PhaseMinus button-label="Phase -" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.PhasePlus button-label="Phase +" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">Scanlines</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.ScanlineType button-label="Type" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.ScanlineMode button-label="Mode" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.ScanlineSizeMinus button-label="Size -" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.ScanlineSizePlus button-label="Size +" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle text-right" width="1%">Miscellaneous</td>
                            <td>
                                <div class="btn-group">
                                    <vc:ossc-button command-name=@CommandName.LCDBacklightToggle button-label="LCD" css-class=@defaultButtonCss />
                                    <vc:ossc-button command-name=@CommandName.SourceInfo button-label="Source Info" css-class=@defaultButtonCss />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Device not found, is it turned on?
                </div>
            }
        </div>
    </div>
</form>