@page
@model ControlAVP.Pages.Devices.OSSCModel
@using ControllableDeviceTypes.OSSCTypes;

@{
    ViewData["Title"] = "OSSC";
}
<h2></h2>


<form method="post">
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">@ViewData["Title"]</h6>
        </div>
        <div class="card-body">
            @foreach (var commandName in (CommandName[])Enum.GetValues(typeof(CommandName)))
            {
                @await Component.InvokeAsync("OSSCButton", new { commandName = commandName })
            }
        </div>
    </div>
</form>