@page
@model ControlAVP.Pages.Devices.SonySimpleIPModel
@using ControllableDeviceTypes.SonySimpleIPTypes;

@{
    ViewData["Title"] = "Sony XR55A90J";

    var inputPortNames = new Dictionary<InputPort, string>
    {
        [InputPort.Hdmi1] = "HDMI 1",
        [InputPort.Hdmi2] = "HDMI 2",
        [InputPort.Hdmi3] = "HDMI 3",
        [InputPort.Hdmi4] = "HDMI 4",
    };
}
<h2></h2>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">@ViewData["Title"]</h6>
        </div>
        <div class="card-body">
            <div class="col-sm-6 pl-0 pr-0">
                <table class="table table-sm table-borderless">
                    <tr>
                        <td class="align-middle text-right" width="1%">Power</td>
                        <td>
                            <div class="btn-group">
                                @switch (Model.DeviceInfoCache.PowerStatus)
                                {
                                    case PowerStatus.Off:
                                        <button class="btn btn-danger border disabled" disabled>Off</button>
                                        <button class="btn btn-light border disabled" disabled>Standby</button>
                                        <button type="submit" asp-page-handler="TurnOn" class="btn btn-light border">On</button>
                                        break;

                                    case PowerStatus.Standby:
                                        <button class="btn btn-light border disabled" disabled>Off</button>
                                        <button class="btn btn-warning border disabled" disabled>Standby</button>
                                        <button type="submit" asp-page-handler="TurnOn" class="btn btn-light border">On</button>
                                        break;

                                    case PowerStatus.On:
                                        <button class="btn btn-light border disabled" disabled>Off</button>
                                        <button type="submit" asp-page-handler="TurnOff" class="btn btn-light border">Standby</button>
                                        <button class="btn btn-success border disabled" disabled>On</button>
                                        break;
                                }
                            </div>
                        </td>
                    </tr>
                    @if (Model.DeviceInfoCache.PowerStatus == PowerStatus.On)
                    {
                        <tr>
                            <td class="align-middle text-right" rowspan="2">Input</td>
                            <td class="align-middle">
                                <div class="btn-group">
                                    @foreach (InputPort inputPort in new InputPort[] { InputPort.Hdmi1, InputPort.Hdmi2, InputPort.Hdmi3, InputPort.Hdmi4 })
                                    {
                                        if (inputPort == Model.DeviceInfoCache.InputPort)
                                        {
                                            <button class="btn btn-success border disabled" disabled>@inputPortNames[inputPort]</button>
                                        }
                                        else
                                        {
                                            <button type="submit" asp-page-handler="SetInput" asp-route-inputport=@inputPort class="btn btn-light border">@inputPortNames[inputPort]</button>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
</form>