@page
@model ControlAVP.Pages.Devices.SonyKDL60W855Model

@{
    ViewData["Title"] = "Sony KDL60W855";
}
<h2></h2>


<form method="post">
@*@if (false)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> Device not found, is it turned on?
    </div>
}
else
{*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <strong>@ViewData["Title"]</strong>
            </p>
        </div>
        <div class="panel-body">
            <div>
                <button type="submit" asp-page-handler="TurnOn" class="btn btn-success btn-sm">Turn TV On</button>
            </div>
        </div>
    </div>
@*}*@
</form>