@page
@model ControlAVP.Pages.Devices.SonyKDL60W855Model

@{
    ViewData["Title"] = "Sony KDL60W855";
}
<h2></h2>


<form method="post">
@*@if (false)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> Device not found, is it turned on?
    </div>
}
else
{*@
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">@ViewData["Title"]</h6>
        </div>
        <div class="card-body pb-0">
            <div>
                <button type="submit" asp-page-handler="TurnOn" class="btn btn-success border">Turn TV On</button>
            </div>
        </div>
    </div>
@*}*@
</form>