@page
@model ControlAVP.Pages.Devices.SonyKDL60W855BBUModel
@{
    ViewData["Title"] = "SonyKDL60W855BBU";
}
<h2>@ViewData["Title"]</h2>

<p>Use this area to provide additional information.</p>

<form method="post">
    <div class="btn-group btn-group-lg">
        <button type="submit" asp-page-handler="TurnOn" class="btn btn-success btn-xs">Turn TV On</button>
    </div>
</form>