@model ControlAVP.ViewComponents.OsscButtonViewComponent.Parameters
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<button type="submit" asp-page-handler="SendCommand" asp-route-commandname=@Model.CommandName class="btn btn-light border">@Model.ButtonLabel</button>
