@page
@model IndexModel
@{
    ViewData["Title"] = "ControlAVP";
}

@Html.AntiForgeryToken()

<form method="post">
    <div class="container-fluid">
        <div class="row">
        @foreach(var commandInfo in Model.CommandInfos)
        {
            <div class="col-4 col-md-2 p-1 m-0">
                <button type="submit" asp-page-handler="CommandProcessorExecute" asp-route-fileFullName=@commandInfo.JsonPath class="btn btn-light border btn-block m-0 p-2">
                    <img src="@commandInfo.ImagePath" class="w-100"/>
                </button>
            </div>
        }
        </div>
    </div>
</form>
