@page
@model IndexModel
@using ControllableDeviceTypes.ExtronDSC301HDTypes;
@{
    ViewData["Title"] = "ControlAVP";
}

@Html.AntiForgeryToken()

<form method="post">
    <div class="container-fluid">
        @if (Model.ExtronDSC301HDAvailable)
        {
        <div class="row">
            <div class="col-6 col-md-2 p-1 m-0">
                <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.PixelPerfect asp-route-positiontype=@PositionType.Centre class="btn btn-secondary border btn-block text-center" style="text-align: left;">Pixel Perfect</button>
            </div>
            <div class="col-6 col-md-2 p-1 m-0">
                <button type="submit" asp-page-handler="Scale" asp-route-scaletype=@ScaleType.Fit asp-route-positiontype=@PositionType.Centre class="btn btn-secondary border btn-block text-center" style="text-align: left;">Fit</button>
            </div>
        </div>
        }
        <div class="row">
            @foreach (var commandInfo in Model.CommandInfos)
            {
                <div class="col-4 col-md-2 p-1 m-0">
                    <button type="submit" asp-page-handler="CommandProcessorExecute" asp-route-fileFullName=@commandInfo.JsonPath class="btn btn-light border btn-block m-0 p-2">
                        <img src="@commandInfo.ImagePath" class="w-100" />
                    </button>
                </div>
            }
        </div>
    </div>
</form>
