@page
@model ControlAVP.Pages.TailCommandProcessorModel
@{
    ViewData["Title"] = "Tail Command Processor";
}

<div id="commmand-processor-table"></div>

<script type="text/javascript">
    var source = new EventSource('/api/tailcommandprocessor?id=' + '@Model.Id');

    source.onopen = function (event) {
    }

    source.onerror= function (event) {
        source.close();
    }

    source.onmessage = function (event) {
        var output = JSON.parse(event.data);
        $("#commmand-processor-table").html(output);
    }
</script>