@page
@model ControlAVP.Pages.TailCommandProcessorModel
@{
    ViewData["Title"] = "Tail Command Processor";
}



<div class="row">
    <div class="col-3 col-md-2 col-xl-1 pb-2"><img src="@Model.ImagePath" class="img-fluid" alt=""></div>
    <div class="col-9 col-md-10 col-xl-11 align-self-center pl-0"><h4>@Model.DisplayName</h4></div>
</div>

<div id="commmand-processor-table"></div>

<script type="text/javascript">
    var source = new EventSource('/api/tailcommandprocessor?id=' + '@Model.Id');

    source.onopen = function (event) {
    }

    source.onerror= function (event) {
        source.close();
    }

    source.onmessage = function (event) {
        var output = JSON.parse(event.data);
        $("#commmand-processor-table").html(output);
    }
</script>