@page
@model ControlAVP.Pages.TailCommandProcessorModel
@{
    ViewData["Title"] = "Tail Command Processor";
}

<h2>@ViewData["Title"]</h2>

<span id="spnMessage"></span>

<script type="text/javascript">
    var source = new EventSource('/api/tailcommandprocessor?id=' + '@Model.Id');

    var output = "";

    source.onopen = function (event) {
        output += "Opened";
        $("#spnMessage").text(output);
        output += " ";
    }

    source.onerror= function (event) {
        output += "Closed";
        $("#spnMessage").text(output);
        output += " ";
        source.close();
    }

    source.onmessage = function (event) {
        output += event.data;
        $("#spnMessage").text(output);
        output += " ";
    }

</script>